/*SECTION 5: Experience*/
.experience-container {
  width: 100%;
  height: 100%;
  padding: 0 3rem 3rem 3rem;
}
.experience-container .info-card {
  margin-right: 40%;
}
.experience-container .info-card h2 {
  font-size: 3rem;
  font-weight: 500;
}

.experience-grid {
  margin-top: 3rem;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}
.experience-grid .grid-card {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 1.25rem;
  width: 100%;
  height: 250px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border: 4px solid #870000;
  transition: 0.4s;
  border-radius: 16px;
  cursor: pointer;
}
.experience-grid .grid-card:hover {
  transform: translateY(-10px);
}
.experience-grid .grid-card small {
  margin-top: 18%;
  font-size: 9pt;
}
.experience-grid .grid-card h3 {
  font-size: 18pt;
}
.experience-grid .grid-card h4 {
  font-size: 12pt;
  font-weight: 600;
}
.experience-grid .grid-card p {
  margin-top: 4%;
  font-size: 10pt;
}
