@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

/*MAIN CLASSES*/
/*SECTION 1: Banner*/
@import url("./css/banner.css");
/*SECTION 2: About me*/
@import url("./css/about.css");
/*SECTION 3: Services*/
@import url("./css/services.css");
/*SECTION 4: Lastest Work*/
@import url("./css/lastest.css");
/*SECTION 5: Experience*/
@import url("./css/experience.css");

/*BOILERPLATE*/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  text-decoration: none;
  background: transparent;
}
body,
button {
  font-family: "Poppins", sans-serif;
}
label,
button,
select,
summary,
[type="radio"],
[type="submit"],
[type="checkbox"] {
  cursor: pointer;
}
img {
  display: block;
  max-width: 100%;
}

/*REUSABLE CLASSES*/
.all-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.v-center {
  display: grid;
  place-content: center;
}

/*Initial config*/
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #870000;
  background: -webkit-linear-gradient(to right, #190a05, #870000);
  background: linear-gradient(to right, #190a05, #870000);
}
.main-container {
  max-width: 1080px;
}
main {
  display: flex;
  background: #f2f2f2;
  flex-direction: column;
  gap: 3rem;
}
